@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #d0e6c0;
    font-family:Verdana,'Lucida Grande',Arial;
}

* {
    box-sizing: border-box;
}

#map {
    height: 100%;
}

.search-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}
@media screen and (min-width: 400px) {
    .search-panel {
        width: 400px;
    }
}

.search-bar {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 5px rgba(85, 85, 85, 0.42);
    background: rgba(255,255,255,1);
    transition: height 1s ease;
    z-index: 2;
}
@media screen and (min-width: 400px) {
    .search-bar {
        z-index: 4;
    }
}

.search-box {
    padding: 0 0.5rem;
    width: 55%;
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    background: rgba(38, 139, 210, 0.52);
}

label {
    display: none;
}

.search-panel-btn {
    display: inline-block;
    vertical-align: bottom;
    color: #268bd2;
    cursor: pointer;
}

.search-btn {
    width: 15%;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.filter-list {
    width: 15%;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.toggle-list {
    width: 15%;
    height: 1.5rem;
}

.category-list {
    display: none; /*起始状态为关闭*/
    margin-top: 1rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}

.category-name {
    display: inline-block;
    margin: 5px;
    padding: 2px;
    border: 1px solid #ff7f27;
    cursor: pointer;
}

.locations-list {
    display: none;
    top: calc(3.5rem + 1px);
    padding: 1rem;
    height: calc(100% - 3.5rem);
    background: #fff;
    overflow-y: auto;
    will-change:transform;
    transition: transform 1s ease;
    z-index: 1;
}
@media screen and (min-width: 400px) {
    .locations-list {

    }
}

.locations-notFound {
    display: none;
    top: calc(3.5rem + 1px);
    padding: 1rem;
    background: #fff;
}

.location-item {
    border-bottom: 1px solid #268bd2;
}

.location-details {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem 1rem 1rem;
    height: 100%;
    background: #268bd2;
    will-change:transform;
    transition: transform 1s ease;
    z-index: 3;
}
@media screen and (min-width: 400px) {
    .location-details {
        width: 400px;
        height: calc(100% - 3.5rem);
    }
}

.location-details-close-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
}
@media screen and (min-width: 400px) {
    .location-details-close-icon {
        display: none;
    }
}

.location-img {
    max-width: 100%;
}

.search-hide {
    transform: translateX(-400px);
}

.search-show {
    transform: translateX(0);
}


.show-map-btn {

}
@media screen and (min-width: 400px) {
    .show-map-btn {
        display: none;
    }
}

