/*
 *
 * Common
 *
 */

* {
    box-sizing: border-box;
    /* Disable mobile browser click/touch/tap feedback box */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family:Verdana,'Lucida Grande',Arial;
}
@media screen and (orientation: portrait) {
    body {
        font-size: 115%;
    }
}

label {
    display: none;
}

.small {
    font-size: 0.85rem;
}

.strong {
    font-weight: 600;
}

.blue-text {
    color: #268bd2;
}

/*
 *
 * Map
 *
 */

#map {
    height: 100%;
}

/*
 *
 * Search panel
 *
 */

.search-list {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
}
@media screen and (orientation: landscape) {
    .search-list {
        width: 400px;
    }
}

.search-bar {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 5px rgba(85, 85, 85, 0.42);
    z-index: 2;
}
@media screen and (orientation: landscape) {
    .search-bar {
        z-index: 4;
    }
}

.search-bar a {
    text-decoration: none;
    color: inherit;
}
.search-bar a:hover {
    color: #62a8da;
}

.search-toggle-btn {
    display: inline-block;
    vertical-align: top;
}

.toggle-list {
    width: 15%;
    height: 1.5rem;
}

.search-dropbox {
    width: 70%;
}

.search-cancel-btn {
    display: none;
    height: 0;
    width: 15%;
    font-size: 1.5rem;
}

.filter-list {
    width: 15%;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.search-box {
    padding: 0.15rem 0.5rem;
    width: 100%;
    font-size: 1.2rem;
    line-height: 1.2rem;
    border: none;
    border-radius: 3px;
    background: rgba(38, 139, 210, 0.52);
}

.search-city {
    display: none;
    width: 100%;
}

.search-city-label {
    display: inline-block;
    padding: 0.75rem 0 0.25rem;
}

.search-btn {
    display: block;
    position: relative;
    top: 0.5rem;
}

.cancel-btn {
    display: block;
    position: relative;
    top: 1.5rem;
}

.search-category-list {
    display: none;
    margin-top: 1rem;
    padding-top: 1rem;
    line-height: 1.5rem;
}

.search-category-name {
    display: inline-block;
    margin: 5px;
    padding: 2px;
    border: 1px solid #ff7f27;
    cursor: pointer;
}

.search-hide {
    transform: translateX(-100%);
}
@media screen and (orientation: landscape) {
    .search-hide {
        transform: translateX(-400px);
    }
}

.search-show {
    transform: translateX(0);
}

/*
 *
 * Locations list
 *
 */

.locations-list {
    display: none;
    top: calc(3.5rem + 1px);
    padding: 1rem;
    height: calc(100% - 3.5rem);
    overflow-y: auto;
    will-change:transform;
    transition: transform 1s ease;
    z-index: 1;
}

.locations-item {
    margin: 0.25rem 0;
    border-bottom: 1px solid #268bd2;
    cursor: pointer;
}

.locations-item-order {
    display: inline-block;
    width: 1.5rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    text-align: center;
    background: #268bd2;
}

.locations-item-name {
    text-decoration: none;
    color: inherit;
}
.locations-item-name:hover {
    color: #268bd2;
}

.locations-notFound {
    display: none;
    top: calc(3.5rem + 1px);
    padding: 1rem;
    background: #fff;
}

/*
 *
 * Location details
 *
 */

.location-details {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3rem 1rem 1rem;
    height: 100%;
    background: #fff;
    color: #444;
    will-change:transform;
    transition: transform 1s ease;
    z-index: 3;
}
@media screen and (orientation: landscape) {
    .location-details {
        width: 400px;
        height: calc(100% - 3.5rem);
    }
}
@media screen and (min-width: 501px) and (orientation: portrait) {
    .location-details {
        padding: 3.5rem 3rem 1rem;
    }
}

.location-details-close-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 3rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
}
@media screen and (orientation: landscape) {
    .location-details-close-icon {
        display: none;
    }
}
@media screen and (min-width: 501px) and (orientation: portrait) {
    .location-details-close-icon {
        width: 3.5rem;
        line-height: 3.5rem;
    }
}

.location-img {
    max-width: 100%;
}
@media screen and (min-width: 501px) and (orientation: portrait) {
    .location-img {
        width: 100%;
    }
}

.location-details-rating {
    display: inline-block;
    margin-left: 0.5rem;
}

.location-details-category {
    color: #ff7f27;
    line-height: 2rem;
}

.show-map-btn {
    float: right;
    width: 3rem;
    border-radius: 1.5rem;
    font-size: 1.5rem;
}
@media screen and (orientation: landscape) {
    .show-map-btn {
        display: none;
    }
}



