html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #d0e6c0;
    font-family:Verdana,'Lucida Grande',Arial;
}

* {
    box-sizing: border-box;
}

#map {
    height: 100%;
}

.search-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}
@media screen and (min-width: 400px) {
    .search-panel {
        width: 400px;
    }
}

.search-bar {
    padding: 1rem 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
    box-shadow: 0 2px 5px rgba(85, 85, 85, 0.42);
    background: rgba(255,255,255,1);
}

.search-box {
    width: 70%;
    height: 1.5rem;
    border: none;
    border-radius: 3px;
    background: rgba(38, 139, 210, 0.52);
}

.search-btn {
    display: inline-block;
    width: 15%;
    height: 1.5rem;
    border: none;
    background: none;
    font-size: 1rem;
    color: #268bd2;
}

label {
    display: none;
}

.toggle-list {
    display: inline-block;
    width: 15%;
    height: 1.5rem;
    vertical-align: bottom;
    color: #268bd2;
}

.locations-list {
    padding: 1rem;
    height: calc(100% - 3.5rem);
    background: #fff;
    overflow-y: auto;
    will-change:transform;
    transition: transform 1s ease;
}

.location-item {
    border-bottom: 1px solid #268bd2;
}

.location-details {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    background: #268;
    z-index: 9999;
}
@media screen and (min-width: 400px) {
    .location-details {
        width: 400px;
    }
}

.location-img {
    max-width: 100%;
}

.search-hide {
    transform: translateX(-400px);
}

.search-show {
    transform: translateX(0);
}
