#infoWindow {
    font: 16px/1.5 sans-serif;
}

.infoWindow-category {
    font-size: 12px;
    color: #ff7f27;
}

.infoWindow-address {
    font-size: 12px;
}

.details-link {
    text-decoration: none;
    font-weight: bold;
}

@media screen and (orientation: landscape) {
    .details-link {
        display: none;
    }
}

.details-link a {
    color: #268bd2;
    text-decoration: none;
}

.details-link a:hover {
    text-decoration: underline;
}
